<!DOCTYPE HTML>
<html>
<head>
    {% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='baseline.compress.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title %}{% endblock %} - PRISM</title>
    {% endblock %}
</head>
<body>
    <div id="content">
		{% block content %}{% endblock %}
	</div>
	{% block footer %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(':submit').hide();
		$(document).keypress(function(e) {
			if(e.keyCode == 13) {
				$("form").submit();
			}
		});
	</script>
	{% endblock %}
</body>
