{% extends "base.html" %}
{% block title %}Step 2{% endblock %}
{% block input %}camera{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<h1>Photo Contribution</h1>
<p>Thank you, {{ user.surname }}.</p>
<p>Face the camera for a photograph: press RETURN when ready.</p>
<code><pre>
	-- {{ user.surname }}
	-- {{ user.forename}} {{ user.middle_name}}
	-- {{ user.street }}
	-- {{ user.city }}
	-- {{ user.state }} {{ user.zipcode }}
	-- {{ user.dob }}
	-- {{ user.gender }}
	-- {{ user.height }} inches
	-- {{ user.hair }} hair
	-- {{ user.eyes }} eyes
</pre></code>
	
<p class="note">Processing Data. One Moment.</p>

    <!--<h1>Driver's License Details [{{ user.id }}]</h1>
	<p>{{ user.forename}} {{ user.middle_name}} {{ user.surname }}</p>
	<p>{{ user.street }}<br />
		{{ user.city }} {{ user.state }} {{ user.zipcode }}</p>
	<p>D.O.B. {{ user.dob }}</p>
	<p>{{ user.gender }}</p>
	<p>{{ user.height }}</p>
	<p>{{ user.hair }} hair and {{ user.eyes }} eyes</p>
	<p>{{ user.drivers_license }}</p>
	<!--{{ user.data }}-->
	<form action="/photo/" method="post" accept-charset="utf-8" class="hidden">
		<input type="hidden" name="manual" value="false" id="manual" />
		<input type="hidden" name="user_id" value="{{ user.id }}" id="user_id">
		<p><input type="submit" value="Continue &rarr;"></p>
	</form>
	
{% endblock %}

{% block footer %}
	{{ super() }}
	$('pre').animate({
		top: "-600px"
	}, 25000 );
{% endblock %}