{% extends "base.html" %}
{% block title %}Step 2{% endblock %}
{% block input %}keyboard{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<h1>Data Contribution</h1>

<p>Your card data was insufficient. Please contribute the following:</p>

<form action="/manual/" method="post" accept-charset="utf-8" class="visible">
	<input type="hidden" name="manual" value="yes" id="manual" />
	<p><label for="forename">Forename:</label><input type="text" name="forename" value="" id="forename" autofocus/></p>
	<p><label for="surname">Surname:</label><input type="text" name="surname" value="" id="surname" /></p>
	<p><label for="city">City:</label><input type="text" name="city" value="" id="city" /></p>
	<p><input type="submit" value="Continue &rarr;"></p>
</form>
<p class="note">Press TAB to move between fields. Press RETURN when complete.</p>
	
{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}