<!doctype html>
<title>Multiplex.me | Services</title>

	<h1>What's your twitter username?</h1>
	<form action="/twitter/" method="post" accept-charset="utf-8">
		<p><label for="twitter">Twitter @username:</label><input type="text" name="twitter" value="" id="twitter" autofocus /></p>
		<p><label for="twitter">Instagram @username:</label><input type="text" name="twitter" value="" id="twitter" autofocus /></p>
		<p><label for="twitter">Facebook Profile</label><input type="text" name="twitter" value="http://www.facebook.com/" id="twitter" autofocus /></p>
		<p><input type="submit" value="Continue &rarr;"></p>
	</form>