/* @override http://127.0.0.1:5000/static/style.css */

body {
	padding: 150px 50px;
	background-color: black;
	background-position: -20px top;
	background-repeat: no-repeat;
	color: white;
	font-family: Klavika;
	position: relative;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Klavika Bold";
	font-weight: bold;
	text-transform: uppercase;
}

h1 {
	font-size: 48pt;
	word-spacing: 0.2em;
	margin-bottom: 0.5em;
	text-align: center;
	background: black;
	padding: 0.5em;
}

p {
	font-size: 30px;
	line-height: 2em;
	text-align: center;
}

.hidden {
	width: 400px;
	margin-left: -999em;
	overflow: hidden;
}

#overlay {
	width: 100%;
	position: absolute;
	top: 0;
	left: -20px;
	z-index: 1;
	width: 1280px;
	height: 1024px;
	text-align: center;
}

body.card {
	background-image: url(bg_card.png);
}

body.keyboard {
	background:  url(bg_keyboard.png);
}

body.camera {
	background: url(bg_camera.png);
}

body.hand {
	background: url(bg_hand.png);
}

p.note {
	display: none;
	width:  1024px;
	font-size: 24px;
	font-style: italic;
	color: #ccc;
	position: absolute;
	top: 590px;
	padding: 0.5em;
	background: black;
}

code {
	position: relative;
	display: block;
	overflow: hidden;
	height: 40px;
	margin-top: 100px;
}

pre {
	opacity: 0.5;
	position: absolute;
	padding: 0 200px;
	font-size: 16px;
	line-height: 2em;
}

.card .note,
.card pre {
	color: #ffdd10;
}

.keyboard .note,
.keyboard pre {
	color: #f06420;
}

.camera .note,
.camera pre {
	color: #eb1d22;
}

.hand .note,
.hand pre {
	color: #06a04a;
}

form.visible {
	width: 600px;
	margin: 0 auto;
	padding: 20px;
}

form.visible label {
	width: 24%;
	text-indent: 0;
	font-size: 24px;
	text-transform: uppercase;
	margin: 1em 0 2em 0;
}


form.visible input {
	font-size: 24px;
	width: 75%;
	padding: 0.2em;
	float: right;
	margin-top: -3.2em;
	border: 3px solid #f06420;
}